
@{ 
    ViewBag.Title = "Posts";
}

  @* <div> 
        <h1>Post Index</h1>
        @if (true)
        { <p>
            <a href="/login">Click Here To Login</a>
        </p>
        <p>
            <a href="@Url.RouteUrl("Login")">Click Here To Login</a>
        </p>
        <p>
            @Html.RouteLink("Click Here To Login","login")
            
        </p>
        }
    </div> *@

